<!DOCTYPE html>
<html>
<head>
  <title>Sixtoes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!DOCTYPE HTML><html lang="en-US">

<!-- Stylesheets -->


<!-- Scripts -->

<!--[if lt IE 9]>
<script src="http://www.6toesmusic.com/wp-content/themes/headway/library/media/js/html5shiv.js"></script>
<![endif]-->

<!--[if lt IE 8]>
<script src="http://www.6toesmusic.com/wp-content/themes/headway/library/media/js/ie8.js"></script>
<![endif]-->



<!-- Extras -->
<link rel="alternate" type="application/rss+xml" href="http://www.6toesmusic.com/feed/" title="6Toes Music" />
<link rel="pingback" href="http://www.6toesmusic.com/xmlrpc.php" />
<link rel="alternate" type="application/rss+xml" title="6Toes Music &raquo; Feed" href="http://www.6toesmusic.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="6Toes Music &raquo; Comments Feed" href="http://www.6toesmusic.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="6Toes Music &raquo; Home Comments Feed" href="http://www.6toesmusic.com/home/feed/" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.6toesmusic.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.6toesmusic.com/wp-includes/wlwmanifest.xml" /> 
<link rel='prev' title='Sample Page' href='http://www.6toesmusic.com/sample-page/' />
<meta name="generator" content="WordPress 3.5.1" />
<link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
</head><!-- End <head> -->

<body class="home page page-id-10 page-template page-template-index-php custom pageid-10 page-slug-home layout-front_page layout-using-front_page">


<div id="whitewrap">


<div id="wrapper-1" class="wrapper fixed-grid">

<div class="grid-container clearfix">
<section class="row row-1">
<section class="column column-1 grid-left-0 grid-width-24">
<nav id="block-6" class="block block-type-navigation block-fluid-height"><div class="block-content"><div class="nav-horizontal nav-align-center">

<ul id="menu-social-media-and-blog-2" class="menu">
<li><%= link_to image_tag('6Toes-Logo-Black-and-Whitealpha3.png',:border => 0, :size => "80x80"), {:action => 'home', :controller => 'pages'} %></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="http://www.youtube.com/official6toes">YouTube</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a href="https://www.facebook.com/Official6Toes">Facebook</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36"><a href="https://twitter.com/Official6Toes">Twitter</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37"><a href="http://official6toes.tumblr.com/">Tumblr</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="http://www.6toesmusic.com/blog/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href= "/contacts" >Contact</a></li>
</ul></div><!-- .nav-horizontal nav-align-center --></div><!-- .block-content -->
</nav><!-- #block-6 -->
</section><!-- .column --></section><!-- .row -->


<%= yield %>

</body>
</html>
